# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log